In [5]:
import numpy as np
import pandas as pd
left = pd.DataFrame({'A': ['A0', 'A1','A2'],
                    'B':['B0', 'B1', 'B2']})
right = pd.DataFrame({'C': ['C0', 'C1', 'C2'],
                     'D': ['D0', 'D1', 'D2']},
                    index=['a', 'b', 'c']) 
left.join(right, how='outer')

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
a  NaN  NaN   C0   D0
b  NaN  NaN   C1   D1
c  NaN  NaN   C2   D2