In [23]:
from pandas import MultiIndex
# 创建包含多个元组的列表
list_tuples = [('AI3181','1'), ('AI3181','2'), ('AI3182','1'),
               ('AI3182','2'), ('AI3182','3')]
# 根据元组列表创建一个MultiIndex对象
multi_index = MultiIndex.from_tuples(tuples=list_tuples, 
                                     names=[ '外层索引', '内层索引'])
multi_index

MultiIndex(levels=[['AI3181', 'AI3182'], ['1', '2', '3']],
           labels=[[0, 0, 1, 1, 1], [0, 1, 0, 1, 2]],
           names=['外层索引', '内层索引'])

In [25]:
# 导入所需要的包
import pandas as pd
values = [['AI3181001','张三',99], ['AI3181002','李四',87],['AI3182001','王五',68], ['AI3182002','赵六',78], ['AI3182003','赵酒',78]]


df_indexs = pd.DataFrame(data=values, index=multi_index)
df_indexs

                     0   1   2
外层索引   内层索引
AI3181 1     AI3181001  张三  99
       2     AI3181002  李四  87
AI3182 1     AI3182001  王五  68
       2     AI3182002  赵六  78
       3     AI3182003  赵酒  78

In [46]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [47]:
df4 = DataFrame(np.random.randint(0,150,size=(8,12)),
               columns = pd.MultiIndex.from_product([['模拟考','正式考'],
                                                   ['数学','语文','英语','物理','化学','生物']]),
               index = pd.MultiIndex.from_product([['期中','期末'],
                                                   ['雷军','李斌'],
                                                  ['测试一','测试二']]))
df4

           模拟考                           正式考
            数学   语文   英语   物理   化学   生物   数学   语文   英语   物理   化学   生物
期中 雷军 测试一   34    2   24  144   39   80   64  119  116   47   48  128
      测试二   38  112  117  108  104   76  113   79    8   63   36   39
   李斌 测试一  105  145  144  124    5  131   17  132   19   71   79   81
      测试二   13  100    4   75  144   91  100   87  105   70  118  116
期末 雷军 测试一   75  149   75    0  131   99  104   21  148   16   73   17
      测试二   37   28    4   51   44   77   53  120   93   90  121    3
   李斌 测试一   87   96   82   91   90  133   48   69   65  117   97   60
      测试二   58    8   39   88   83  120  136   78   62   92   95  126