In [63]:
import numpy as np
from pandas.tseries.offsets import *
import pandas as pd

DatetimeIndex=pd.date_range(start='2010/1/1', end='2019/12/9 23:59:59', freq='160D5h6min52s',normalize=True, tz='Asia/Hong_Kong')
DatetimeIndex

DatetimeIndex(['2010-01-01 00:00:00+08:00', '2010-06-10 05:06:52+08:00',
               '2010-11-17 10:13:44+08:00', '2011-04-26 15:20:36+08:00',
               '2011-10-03 20:27:28+08:00', '2012-03-12 01:34:20+08:00',
               '2012-08-19 06:41:12+08:00', '2013-01-26 11:48:04+08:00',
               '2013-07-05 16:54:56+08:00', '2013-12-12 22:01:48+08:00',
               '2014-05-22 03:08:40+08:00', '2014-10-29 08:15:32+08:00',
               '2015-04-07 13:22:24+08:00', '2015-09-14 18:29:16+08:00',
               '2016-02-21 23:36:08+08:00', '2016-07-31 04:43:00+08:00',
               '2017-01-07 09:49:52+08:00', '2017-06-16 14:56:44+08:00',
               '2017-11-23 20:03:36+08:00', '2018-05-03 01:10:28+08:00',
               '2018-10-10 06:17:20+08:00', '2019-03-19 11:24:12+08:00',
               '2019-08-26 16:31:04+08:00'],
              dtype='datetime64[ns, Asia/Hong_Kong]', freq='13842412S')

In [79]:
import pandas as pd
df = pd.DataFrame({'Gold' : "400 430 450 460".split(),
                   'Diamond' : [600, 650, 750, 800],
                  'House' : [2000, 2125, 2450, 2600]},
                   index = "2017 2018 2019 2020".split())
df

      Diamond Gold  House
2017      600  400   2000
2018      650  430   2125
2019      750  450   2450
2020      800  460   2600